<section ng-app="Piece_App" ng-controller="PiecesController">
              <form ng-submit="create()" novalidate>
                <input ng-model="artisan" type="hidden"/>
                <input ng-model="descriptionBody" type="hidden"/>
                <input ng-model="pieceTitle" type="hidden"/>
                <input ng-model="price" type="hidden"/>
                <input ng-model="ImgURL" type="hidden"/>
                <md-card>
                <md-toolbar class="md-accent md-whiteframe-1dp">
                  <h2 class="md-toolbar-tools">
                    <span>Create a Piece</span>
                  </h2>
                </md-toolbar>
                <md-card-content layout="column">
                  <md-content>
                  <md-input-container>
                    <label>Artisan</label>
                    <input ng-model="artisan" id="artisan" required>
                  </md-input-container>
                  
                  <md-input-container>
                    <label>Enter Description</label>
                    <input ng-model="descriptionBody" id="descriptionBody" required>
                  </md-input-container>
                  
                  <md-input-container>
                    <label>Piece Title</label>
                    <input ng-model="pieceTitle" id="pieceTitle" required>
                  </md-input-container>
                  
                  <md-input-container>
                    <label>Price</label>
                    <input ng-model="price" id="price" required>
                  </md-input-container>
                  
                  <md-input-container>
                    <label>Image URL</label>
                    <input ng-model="ImgURL" id="ImgURL" required>
                  </md-input-container>
                    
                  </md-content>
                 <md-button class="md-raised md-primary" type="submit">
                    Submit
                  </md-button>
                  <div ng-bind="error">
                  <strong ng-bind="error">
                  </strong>
                </div>
                </md-card-content>
                </md-card>
              </form>
</section>